.icon_git{
  max-width: 2em;
}

.icon_git:hover {
  box-shadow: 0 0 4px 3px white;
  border-radius: 50%;
}

.info{
  margin-bottom: 5%;
}

.readme{
  padding: 0 5%;
  color: white;
}

.readme_text{
  padding: 5%;
}
.icon_back{
  max-height: 30px;
}

.test{
  margin-left: 2%;
  margin-top: 1%;
}
