a{
  text-decoration: none !important;
  color: grey;
}
.avatar{
  max-width: 50%;
}

.bio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards{
  margin: 1.5% 3%;
  width: 100%;
}

.cards:hover {
  box-shadow: 0 0 0 2px white, 0 0 5px 10px #343a40;
}

.contact{
  align-items: flex-end;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.icon_back{
  max-height: 30px;
}

.icon_git{
  max-width: 2em;
}

.icon_git:hover {
  box-shadow: 0 0 4px 3px white;
  border-radius: 50%;
}

.info{
  width: 70%;
  text-align: center;
}

.link{
  text-decoration: none !important;
}

.login{
  text-align: end;
  margin-right: 6%;
}

.none{
  text-align: center;
  margin: auto;
  color: white;
}

.octocat{
  margin: 50px;
  width: 40%;
}

.page{
  display: flex;
}

.personal{
  width: 100%;
}

.right{
  width: 30%;
  margin: 1.2% 3%;
}

.test{
margin-left: 2%;
margin-top: 1%;
}
